.darkSection {
    position: relative;
    width: 100%;
}

/* Для заливки фона вне контейнера */
.bgWrapper-dark {
    background-color: #030303;
}

/* Контент с левой стороны секции */
.darkLeft {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    z-index: 100;
    font-size: 28px;
    padding:calc(25% - 196px) 0 calc(50% - 415.7px) 0;
}

.sliderFull {
    position: absolute;
    right: 0;
    width: calc(100% - 440px);
}

.mask {
    position: relative;
    width: 100%;
}

/* Изображения слайдера в Welcome (правая сторона секции) */
.sliderImg {
    display: block;
    /* width: calc(100% - 440px); */
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 20%);
   -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 20%);
}

/* Слайдер */
.slider {
    /* width: 600px;
    height: 120px; */
    background-color: #030303;
    z-index: 2;
    font-size: 22px;
    justify-content: space-evenly;
    align-items: center;

    width: 60%;
    height: 16%;
    position: absolute;
    right: 0;
    bottom: -8%;
}

/* Точки слайдера */
.sliderDot {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.activeDot {
    background-color: #D2B183;
}

/* Стрелки слайдера */
.sliderArrows {
   width: 80px;
   justify-content: space-between;
}
.sliderArrow {
    width: 30px;
    height: 8px;
}
.arrowRight {
    background-image: url(../assets/svg/arrowRight.svg);
}
.arrowLeft {
    background-image: url(../assets/svg/arrowLeft.svg);
}
.sliderArrow:hover {
    cursor: pointer;
}