.darkSection {
    display: flex;
    overflow: hidden;
}

/* Для заливки фона вне контейнераы */
.backWrapper {
    background-color: #030303;
}

.darkLeft {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    z-index: 100;
    font-size: 28px;
}

.darkImg {
    position: absolute;
    right: 0;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 20%);
   -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 20%);
}

/* Slider */

.slider {
    width: 600px;
    height: 120px;
    background-color: #030303;
    z-index: 2;
    font-size: 22px;
   justify-content: space-evenly;
   align-items: center;
   position: absolute;

   /* тест */
   top: 690px;
   
   right: 0;
   bottom: 0;
}
.sliderDot {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.sliderArrows {
   width: 80px;
   justify-content: space-between;
}
.sliderArrow {
    width: 30px;
}
.sliderArrow:hover {
    cursor: pointer;
}