.explore-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.explore-slider__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* height: 700px; */
  height: 100%;
}

.explore-slider {
  display: block;
  max-width: 720px;
  width: calc(100% - 40px);
  height: auto;
  /* background-image: url(../assets/img/explore-slider/before.avif); */
  position: relative;
  overflow: hidden;
  z-index: 3;
  /* touch-action: none; */
}

.explore-slider__after {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../assets/img/explore-slider/before.avif);
  background-size: 100%;
  z-index: 4;
}

.explore__img {
  opacity: 0%;
}

.after-container {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 720px;
  width: 50%;
  max-height: 700px;
  height: 100%;
  box-sizing: border-box;
  background-image: url(//assets/img/explore-slider/after.avif);
  background-position: right;
  overflow: hidden;
}

.explore__img2 {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 5;
}

.explore-slider__control {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -40%); */
  transform: translate(0, -40%);
  height: 50px;
  width: 1px;
  border-radius: 50%;
  /* border: solid 6px rgb(255, 0, 0); */
  /* border: none; */
  /* border-radius: 40px; */
  box-sizing: border-box;
  z-index: 6;
}

.slider-thumb {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 6px;
  height: 100%;
  background-color: transparent;
  touch-action: none;
}

.slider__thumb::before {
  content: "";
  position: absolute;
  top: -1000%;
  bottom: 100%;
  left: 22px;
  width: 6px;
  transform: skew(180deg);
  background-color: rgba(255, 255, 255, 0.75);
  /* transform: translate(0, 0); */
}

.slider__thumb::after {
  content: "";
  position: absolute;
  bottom: -1000%;
  top: 100%;
  left: 22px;
  width: 6px;
  transform: skew(180deg);
  /* transform: translate(50%, 0); */
  background-color: rgba(255, 255, 255, 0.75);
}

.slider__thumb {
  position: absolute;
  top: 0;
  left: -22px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  outline: 6px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}

.slider__thumb:hover {
  cursor: pointer;
}

.explore-slider__input {
  position: absolute;
  max-width: 800px;
  width: 100%;
  top: calc(50% - 10px);
  z-index: 7;
}

/* _________________________________________ */

/* ------------------*/
/*  Webkit Browsers  */
/* ------------------*/
input.explore-range {
  height: 40px;
  transform: translate(0, -15px);
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input.explore-range:focus {
  outline: none;
}
input.explore-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: transparent;
}
input.explore-range::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}
input.explore-range:focus::-webkit-slider-runnable-track {
  background: transparent;
}

/* ------------------*/
/*  Mozilla Firefox  */
/* ------------------*/
input.explore-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
}
input.explore-range::-moz-range-thumb {
  position: relative;
  border: none;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  /* transform: translate(-50%, 0); */
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
}
/* input.explore-range::-moz-range-thumb::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: 6px solid rgba(221, 36, 36, 0.75);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(-50%, 0);
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
} */

input.explore-range::-moz-range-progress {
  background-color: transparent;
  height: 10px;
}

/* ------------------*/
/* Internet Explorer */
/* ------------------*/
input.explore-range::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input.explore-range::-ms-thumb {
  margin-top: 1px;
  border: 0px solid #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input.explore-range::-ms-fill-lower,
input.explore-range::-ms-fill-upper {
  background: transparent;
  border-radius: 10px;
}

input.explore-range:focus::-ms-fill-lower,
input.explore-range:focus::-ms-fill-upper {
  background: transparent;
}
/* _________________________________________ */

.explore__description {
  max-width: 660px;
}

.explore__description_padding-vert {
  padding: 50px 0 50px 0;
}

@media (max-width: 1024px) {
  .explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .explore-slider__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .explore__3rd-paragraph {
    display: none;
  }

  .explore__description {
    max-width: 984px;
    width: 100%;
  }

  .explore-slider__control::after {
    top: 105%;
    left: calc(50% - 3px);
    right: calc(50% - 3px);
    width: 6px;
  }
}

@media (max-width: 768px) {
  .explore__info {
    display: none;
  }

  .explore-slider__container {
    margin-top: 40px;
  }

  .explore-slider {
    max-width: 728px;
  }
}

@media (max-width: 420px) {
  .explore-slider {
    max-width: 380px;
  }

  .explore-slider__container {
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
  }

  /* .explore-slider__control::after {
    top: 105%;
    left: calc(50% - 1px);
    right: calc(50% - 1px);
    width: 2px;
  }

  .explore-slider__control::before {
    left: calc(50% - 1px);
    right: calc(50% - 1px);
    width: 2px;
  } */

  /* .explore-slider__control {
    position: absolute;
    left: 50%;
    right: 50%;
    top: calc(50% - 10px);
    bottom: calc(50% - 10px);
    width: 5%;
    height: 5%;
    border: solid 2px white;
    border-radius: 50%;
  } */
}
