.header {
    background-color: #030303;
    height: 150px;
}

.header__li {
    list-style: none;
    padding: 1em;
    line-height: 100%;
}

.header__nav {
    max-width: 775px;
}

/* nav a {
    margin-right: 2.5em;
} */

.nav__contacts{
    /* margin-right: 0; */
    padding-right: 0;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logoImg {
    width: 49px;
    height: 26px;
    background-image: url("../assets/svg/logo.svg");
}

.burger-menu {
    display: none;
    max-width: 32px;
    width: 100%;
    height: 18px;
    z-index: 5;
    position: relative;
}

.burger-menu:hover {
    cursor: pointer;
}

.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

.burger__line_top {
    top: 0;
}

.burger__line_mid {
    top: 8px;
}

.burger__line_bot {
    top: 16px;
}

.header-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .header {
        height: 130px;
    }

    .header__nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .nav__list {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 5;
    }

    .welcome__content {
        transition: 1s;
    }
}

@media (max-width: 420px) {
    .logo__title {
        font-size: 16px;
    }

    .logoImg {
        width: 29px;
        height: 16px;
        background-size: contain;
    }

    .header {
        max-height: 90px;
    }
}