header {
    background-color: #030303;
    height: 150px;
}

.header__li {
    list-style: none;
    padding: 1em;
    line-height: 100%;
}

.header__nav {
    max-width: 775px;
}

/* nav a {
    margin-right: 2.5em;
} */

.nav__contacts{
    /* margin-right: 0; */
    padding-right: 0;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logoImg {
    width: 49px;
    height: 26px;
    background-image: url("../assets/svg/logo.svg");
}