@import url(dark-section.css);

.bgWrapper-light {
    background-color: #FFFFFF;
}

.title h2 {
    color: #9d8665;
}

.innerContainer {
    width: 100%;
}

.visitingCards {
    flex-flow: wrap;
    justify-content: space-between;
    padding: 75px 0 0 0;
}