* {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.container {
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-flow: wrap;
}

a {
    letter-spacing: 2px;
}

h2{
    font-family: 'Forum', cursive;
    font-size: 80px;
    font-weight: 100;
    margin: 0 0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Forum', cursive;
    font-size: 32px;
    font-weight: 100;
    margin: 0 0;
    text-transform: uppercase;    
    letter-spacing: 5px;
}

/* Подчеркивание заголовка */
.underline-title {
    position: relative;
    margin-bottom: 25px;
}
.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: red;
}


/* Button */

.button {
    width: 360px;
    height: 75px;
    padding: 2em;
    background-color: #710707;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 22px;
}

/* .button a {
    display: inline-block;
} */

html {
    scroll-behavior: smooth;
}

.section {
    padding: 75px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
}

/* Card */

.card {
    /* margin: 25px 0; */
    padding: 0 0 75px 0;
}

.cardInfo {
    color: #030303;
}

.cardTitle {
    margin: 15px 0;
    color: #030303;
}

.cardDescription {
    font-size: 18px;
    color: #030303;
}