.tickets-container {
  width: 100%;
  padding: 5% 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tickets-pic-container {
  width: 720px;
  height: 550px;
  /* background-image: url(../assets/img/tickets-pic.png); */
}

.tickets-pic {
  max-width: 720px;
  width: 100%;
  max-height: 550px;
  height: auto;
}

.tickets-form {
  width: calc(100% / 2);
  color: #030303;
  display: flex;
  justify-content: space-between;
}

.ticket-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 5%;
}

.ticket-amount {
  max-width: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.amount__inputs {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 3px black;
  box-sizing: border-box;
  min-height: 50px;
  max-height: 50px;
  width: 150px;
}

.amount__number {
  box-sizing: border-box;
  max-width: 50px;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-weight: bold;
  border: none;
}

.amount__number_total {
  text-align: left;
  width: 10%;
}

.amount__btn {
  color: black;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding-top: 4px;
  margin: 0;
  max-width: 50px;
  width: 100%;
  height: 44px;
  text-align: center;
  font-weight: 500;
  transition: 0.2s;
}

.amount__btn:hover {
  cursor: pointer;
  /* font-weight: bold; */
  background-color: #dadada;
}

.amount__total {
  margin: 20% 0;
}

.amount__btn_buy {
  border: none;
  width: 175px;
  height: 50px;
  background-color: black;
  margin: 0;
  padding: 0;
  transition: 0.2s;
  color: white;
}

.amount__btn_buy:hover {
  cursor: pointer;
  background-color: var(--color_dark-red);
  border: solid 3px rgb(0, 0, 0);
}

@media (max-width: 1024px) {
  .tickets-pic-container {
    width: 70%;
    height: 440px;
    overflow: hidden;
  }

  .tickets-pic {
    max-width: 700px;
    width: 100%;
    /* max-height: 440px; */
    height: auto;
    transform: translate(0, -10%);
  }

  .ticket-type {
    display: none;
  }

  .tickets-form {
    justify-content: flex-end;
    padding-right: 40px;
    width: 20%;
  }
  .ticket-amount {
    max-height: 440px;
  }
}

@media (max-width: 768px) {
  .tickets-pic-container {
    max-width: 60%;
  }

  .tickets-pic {
    max-width: unset;
    width: 100%;
    transform: unset;
  }

  .ticket-amount {
    align-items: flex-start;
  }

  .ticket-amount__ticket-name {
    font-size: 22px;
  }

  .tickets-form {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .tickets-container {
    flex-direction: column;
    align-items: center;
  }

  .tickets-pic-container {
    max-width: 100%;
    width: 100%;
    max-height: 160px;
    overflow: hidden;
  }

  .tickets-pic {
    width: 100%;
    position: relative;
    top: -40%;
  }

  .ticket-amount {
    align-items: center;
    max-width: 175px;
  }

  .tickets-form {
    padding: 0;
    margin-top: 40px;
    width: 100%;
  }

  .ticket-amount__ticket-name {
    font-size: 16px;
  }
  .amount__inputs {
    max-width: 175px;
    width: 175px;
  }

  .amount__btn {
    font-size: 40px;
    padding: 0;
    line-height: 42px;
  }
}