.welcome-container {
  position: relative;
  width: 100%;
}

/* Контент с левой стороны секции */
.welcome-content {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  z-index: 30;
  font-size: 28px;
  padding: calc(25% - 196px) 0 calc(51% - 415.7px) 0;
  transition: .5s opacity;
}

.welcome-info {
  letter-spacing: 2px;
  z-index: 30;
}

/* Кнопка, для Welcome */
.welcome__btn {
  width: 360px;
  height: 75px;
  padding: 25px;
  background-color: var(--color_dark-red);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 22px;
  transition: 0.1s;
  z-index: 30;
}

.welcome__btn:hover {
  background-color: var(--color_gold);
}

.slider {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 440px);
}

.slider__mask {
  position: relative;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  );
  overflow: hidden;
}

/* Изображения слайдера в Welcome (правая сторона секции) */
.slider__img {
  display: block;
  /* width: calc(100% - 440px); */
  width: 100%;
  height: auto;
  /* mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  ); */
  z-index: 20;
  opacity: 50%;
}

.welcome__slides {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  max-width: calc(100% * 5);
  width: calc(100% * 5);
  height: 100%;
}

.welcome__slide {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(0);
  transition: transform 1s;
}

.slide-1 {
  background-image: url(../assets/img/welcome-slider/1.avif);
}
.slide-2 {
  background-image: url(../assets/img/welcome-slider/2.avif);
}
.slide-3 {
  background-image: url(../assets/img/welcome-slider/3.avif);
}
.slide-4 {
  background-image: url(../assets/img/welcome-slider/4.avif);
}
.slide-5 {
  background-image: url(../assets/img/welcome-slider/5.avif);
}

/* Слайдер */
.slider-controls {
  /* width: 600px;
    height: 120px; */
  background-color: #030303;
  z-index: 2;
  font-size: 22px;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  position: absolute;
  right: 0;

  /* на некоторых разрешениях слайдер выходит за границу секции без этого пикселя */
  bottom: calc(-8% + 1px);
}

/* Точки слайдера */
.slider__dot {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  margin-right: 20px;
  transition: 0.2s;
}
.slider__dot_active {
  background-color: var(--color_gold);
}

.slider__dot:hover {
  cursor: pointer;
  filter: invert(50%) sepia(100%) brightness(110%);
}

/* Стрелки слайдера */
.slider__arrows {
  width: 80px;
  justify-content: space-between;
}
.slider__arrow {
  width: 30px;
  height: 8px;
  transition: 0.2s;
}
.slider__arrow_right {
  background-image: url(../assets/svg/arrowRight.svg);
}
.slider__arrow_left {
  background-image: url(../assets/svg/arrowLeft.svg);
}
.slider__arrow:hover {
  cursor: pointer;
  filter: invert(50%) sepia(100%) brightness(110%);
}

@media (max-width: 1024px) {
  .slider {
    max-width: 700px;
    width: calc(100% - 300px);
    /* width: 100%; */
    height: auto;
  }

  .slider-controls {
    width: 100%;
    height: 100%;
    bottom: -60px;
  }
  .slider__img {
    max-width: 700px;
    max-height: 525px;
    width: 100%;
    height: auto;
    bottom: -60px;
  }

  .slider__dot {
    width: 12px;
    height: 12px;
    margin-right: 16px;
  }

  .welcome-container {
    min-height: 585px;
  }

  .welcome__btn {
    width: 300px;
    height: 60px;
    padding: 15px;
    font-size: 20px;
  }

  /* скрытие контента для 1024px*/
.welcome-content_active {
  opacity: 0%;
}
}

@media (max-width: 768px) {
  .welcome-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .welcome-content {
    align-items: center;
  }

  .welcome__btn {
    display: none;
  }

  .slider {
    position: relative;
    max-width: 728px;
    width: 100%;
    padding-top: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .slider__img {
    max-width: 728px;
    width: 100%;
    max-height: 546px;
    height: 100%;
    mask-image: none;
    -webkit-mask-image: none;
  }

  .slider-controls {
    position: relative;
    max-width: 728px;
    bottom: 0;
    height: 100px;
    justify-content: center;
    column-gap: 20px;
  }

  .slider__mask {
    mask-image: none;
    -webkit-mask-image: none;
  }

.welcome-content_active {
  opacity: 100%;
}
}

@media (max-width: 420px) {
  .slider {
    align-items: center;
  }
  
  .slider__img {
    max-width: 380px;
    max-height: 285px;
  }

  .slider-controls {
    max-width: 230px;
    max-height: 40px;
    padding: 20px 0;
  }

  .slider__dot {
    width: 7px;
    height: 7px;
    margin-right: 10px;
  }

  .slider__arrows {
    max-width: 55px;
  }

  .slider__arrow {
    max-width: 20px;
  }

  .slider__arrow_right {
    background-position: center right;
  }

  .welcome-container {
    min-height: unset;
  }
}


